.welcome-screen {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
  flex: 1;
  height: 100%;
  max-width: 100%;
}

.connect-text {
  color: #c2c2c2;
  font-size: 24px;
  font-weight: 400;
}

.error-text {
  color: #bb0101;
  font-size: 16px;
  font-weight: 200;
}

.add-chain-text {
  color: #344487;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}

.connect-text:hover {
  cursor: pointer;
}