.welcome-screen {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 32px;
  flex: 1;
  height: 100%;
  max-width: 100%;
}

.hero-image {
  width: 100%;
  max-width: 400px;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  max-width: 800px;
  font-style: italic;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

subtitle {
  font-size: 18px;
  font-weight: 200;
  color: #344487;
}

.connect-text {
  color: #c2c2c2;
  font-size: 24px;
  font-weight: 400;
}

.error-text {
  color: #bb0101;
  font-size: 16px;
  font-weight: 200;
}

.add-chain-text {
  color: #344487;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}

.connect-text:hover {
  cursor: pointer;
}