
.chat-selector {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  padding: 12px 20px;
  position: relative;
  border-bottom: 1px solid #c8c8c8;
}

.chat-selector .disabled {
  opacity: 50%;
}

.chat-selector:hover {
  cursor: pointer;
}

.chat-selector-selected {
  background-color: rgba(224, 250, 216, 0.70);
}

.chat-selector .content {
  align-self: stretch;
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.chat-selector .title-row {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 24px;
  position: relative;
}

.chat-selector .title {
  color: #0f1217;
  flex: 1;
  font-family: "Work Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-selector .time {
  color: #666666;
  font-family: "Work Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.chat-selector .notification {
  align-items: center;
  background-color: #0e1218;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  overflow: hidden;
  width: 20px;
}

.chat-selector .notification-text {
  color: #ffffff;
  font-family: "Work Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.chat-selector .subtitle-row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
}

.chat-selector .text {
  flex: 1;
  align-self: stretch;
  color: #666666;
  font-family: "Work Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  max-height: 66px;
  overflow: hidden;
}

.chat-selector .chat-selector {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 78px;
  padding: 12px 20px;
  position: relative;
}

.chat-selector .contact-icon {
  border-radius: 21px;
  height: 42px;
  min-width: 42px;
  position: relative;
}

.chat-selector .chat-type-icon {
  flex: 0;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 800px) {

  .chat-selector-selected {
    background-color: inherit;
  }

}