body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  color: #374c72;
  font-size: 17px;
}

.content {
  max-width: 800px;
  margin: 0 16px 64px 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.screenshot {
  margin-top: 48px;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figcaption {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(182, 119, 24);
}

a:hover {
  color: rgb(94, 62, 13);
}

h1 {
  font-family: "Work Sans", Helvetica;
  margin-top: 40px;
  font-size: 36px;
  color: #1e3e79;
}

h2 {
  font-family: "Work Sans", Helvetica;
  margin-top: 32px;
  font-size: 26px;
  color: #1e3e79;
}

h3 {
  font-family: "Work Sans", Helvetica;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: -4px;
  color: #1e3e79;
}

p {
  line-height: 24px;
}

li {
  margin-bottom: 16px;
}

hr {
  border-top: 1px solid #ccc;
  margin: 64px 0;
}

@media only screen and (max-width: 500px) {
  img, .screenshot {
    width: 100%;
  }
}