.message {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
}

.message-remote {
  align-self: flex-end;
  text-align: right;
}

.message img.failed-icon {
  /* position: absolute; */
  width: 16px;
  height: 16px;
  display: block;
  z-index: 1;
  /* left: -6px;
  top: -6px; */
}

.message img.failed-icon:hover {
  cursor: pointer;
}

.message .chat-message {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px 16px;
  justify-content: center;
  gap: 12px;
  position: relative;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.message .remote-message {
  background-color: rgba(220, 255, 209, 0.7);
}

.message .local-message {
  background-color: #f1f5fb;
}


.message .message-text {
  flex: 1;
  color: #0e1218;
  font-family: "Work Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.message a {
  word-break: break-all;
}

.message .message-time {
  flex: 0;
  color: #888;
  font-family: "Work Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {

  .message .chat-message {
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 4px;
  }

  .message {
    gap: 16px;
    max-width: 85%;
  }
  
}